#patientList div{
    margin: 1rem;
    width: 24rem;
}

.nicecard:hover{
    background-color: cornflowerblue;
}

#patientList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}